// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
	padding-top: 8px;
	margin-right: 0;
  margin-left: 0;
}

.x_content {
	padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
  }